# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp/
.pnp.js

# Build
.vercel
.next
out/
dist/
build/

# Misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local 